In [8]:
#checkpoint4 (function)
#question1
def max_two(x,y):
 if x<y:
    return y
 else:
    return x

In [9]:
max_two(4,3)

4

In [19]:
#question2
def sub_add(x,y):
 a=x+y
 b=x-y
 return a,b
sub_add (4,3)

(7, 1)

In [23]:
#question 3
#sums the elements of a list of integers
def sum_list(T):
    sum=0
    for i in range (0,len(T)):
        sum=sum+T[i]
    return sum

In [24]:
sum_list([1,7,1,8,4])

21

In [25]:
#multiplies the elements of an integer list.
def mult_list(T):
    prod=1
    for i in range (0,len(T)):
        prod=prod*T[i]
    return prod

In [27]:
mult_list([1,7,1,8,4])

224

In [28]:
T1=[1,7,1,8,4]

[1, 7, 1, 8, 4]

In [31]:
# sum the elements whose position is an even number (0,2,4â€¦) and multiply the rest
def add_mult(T):
 sum=0
 produ=1
 for i in range (0,len(T)):
    if i%2==0:
        sum=sum+T[i]
    else:
        produ=produ*T[i]
 return sum,produ

In [32]:
add_mult([1,7,1,8,4])

(6, 56)

In [33]:
# another solution with using the two function sum and mult
def addd_mult(T):
    T1=list()
    T2=list()
    for i in range(0,len(T)):
        if i%2==0:
            T1.append(T[i])
        else:
            T2.append (T[i])
    print("the sum of numbers which have an even index :="  ,sum_list(T1))
    print ("the produc of numbers which have an odd index := ", mult_list(T2))

In [34]:
addd_mult([1,7,1,8,4])

the sum of numbers which have an even index := 6
the produc of numbers which have an odd index :=  56

In [ ]:
#question5 (Bonus)
import math
def calcul (D):
 D=input()
 D = D.split(',')
 print ("D will be : ",D)
 listfinal   = []
 for n in D:
  Q = round(math.sqrt(2 * 50 * int(n) / 30))
  print ("Q=",Q)
  listfinal.append(Q)
 print(listfinal)